<h1>
    <span class="far fa-list-alt"></span>Pure Numbers
</h1>

<div class="grid">

  <tbody>
    {{#if viewData.pureNumbers.length}}
    {{#each viewData.pureNumbers}}
      <div class="snippetbox">
        <div id="mysnippetheader">User: FejkName</div>
        {{this.createdAt}}
        <p>{{this.value}}</p>
      </div>
    {{/each}}
    {{else}}
  {{/if}}
  </tbody>
  </div>

