{{!-- Create new snippet --}}

<h1>
  <span class="far fa-plus-square"></span> New Code Snippet
</h1>
<form method="post" action="./create">
  {{>validationSummary}}
  <div class="form-group">
    <textarea rows="8" type="text" class="form-control" name="value" value="{{value}}" placeholder="Enter a code snippet" required="required" autofocus="autofocus"></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-info">Create</button>
</form>
