{{!-- create user form bootstrap --}}

<div class="login-form">
    <form action="./loginUser" method="post">
        <h2 class="text-center">Create User</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" id="usrname" name="usrname" value="{{value}}" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" id="psw" name="psw" value="{{value}}" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-block">Create</button>
        </div>
        <div class="clearfix">
        </div>        
    </form>
    <p class="text-center"><a href="./user" class="text-info">Back to Log In</a></p>
</div>