<div class="container">

  <form action="/loginUser" method="post">
    <label for="usrname">Username</label>
    <input type="text" id="usrname" name="usrname" value="{{value}}" required>

    <label for="psw">Password</label>
    <input type="password" id="psw" name="psw" value="{{value}}" required>

    <button type="submit">hejehje</button>
    
    {{!-- <input type="submit" value="Submit"> --}}
  </form>
</div>